/**
 * General Styles
 */
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img{
	width: 800px;
	height: 600px;
}
#content-wrapper{
	display: inline-block;
}

/**
 * Control Panel Form Styles
 */
label{
	margin-right: 20px;
}
.form-panel{
	max-width: 400px;
} 
.input-group{
	width: 100%;
	margin-top: 10px;
	display: inline-block;
}

.form-button{
	margin-right: 20px;
	width: 80px;
	float: left;
}

.form-command{
	margin-right: 20px;
	width: 100px;
	height: 30px;
}

.alert{
	margin-top: 20px;
}

#submit_button{
	width: 100px;
	margin-top: 10px;
}

.alert-success{
	margin-bottom: 0px;
}